<%- include('../partials/header')  %> 
    <h1>Title: <%= campground.title %></h1>
    <h2>Location: <%= campground.location %></h2>

    <a href="/campgrounds">Back</a>
    <a href="/campgrounds/<%= campground.id%>/edit">Edit</a>
    <form action="/campgrounds/<%= campground.id %>/?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
<%- include('../partials/footer')  %> 